@font-face {
    font-family: 'code_pro_demoregular';
    src: url('/assets/Code_Pro_Demo-webfont.eot');
    src: url('/assets/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('/assets/Code_Pro_Demo-webfont.woff') format('woff'),
         url('/assets/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('/assets/Code_Pro_Demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
